{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "browsers": [
                    "Chrome >= 60",
                    "Safari >= 10.1",
                    "iOS >= 10.3",
                    "Firefox >= 54",
                    "Edge >= 15"
                ]
            }
        }]
    ],
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread"
    ],
    "env": {
        "test": {
            "plugins": [
                "@babel/plugin-proposal-object-rest-spread",
                ["istanbul", {
                    "exclude": [
                        "**/*.test.*",
                        "test/**"
                    ]
                }]
            ]
        },
        "production": {
            "plugins": [
                "@babel/plugin-proposal-object-rest-spread"
            ]
        }
    }
}
